<h4>Datos del Alumno</h4>
<hr>
<div class="row-fluid">
	<div class="span6">
		<table class="da-table da-detail-view">
			<tr>
				<td>Nombres</td>
				<td>{{ nombre }}</td>
			</tr>
			<tr>
				<td>Apellido Paterno</td>
				<td>{{ appaterno }}</td>
			</tr>
			<tr>
				<td>Apellido Materno</td>
				<td>{{ apmaterno }}</td>
			</tr>
			<tr>
				<td>Nacimiento</td>
				<td>{{ nacimiento }}</td>
			</tr>
			<tr>
				<td>Ubigeo</td>
				<td>{{ ubigeo_resumen_text }}</td>
			</tr>
		</table>
	</div>
	<div class="span6">
	</div>
</div>