<h4>Ejercicios Académicos</h4>
<hr>
<div class="row-fluid">
	<div class="span6">
		<ul>
			{{#objects}}
			<li>
				{{ ejercicio }}
			</li>
			{{/objects}}
		</ul>
	</div>
	<div class="span6">
	</div>
</div>