<!DOCTYPE html>
<!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" media="screen">
		<link rel="stylesheet" href="/static/css/dandelion.theme.css" media="screen">
		<link rel="stylesheet" href="/static/css/fonts/glyphicons/style.css" media="screen">
		<link rel="stylesheet" href="/static/css/dandelion.min.css" media="screen">
		<link rel="stylesheet" href="/static/css/customizer.css" media="screen">
		<link rel="stylesheet" href="/static/css/demo.css" media="screen">
		<link rel="stylesheet" href="/static/js/plugins/wizard/dandelion.wizard.css" media="screen">
		<title>{{ aplicacion.app.nombre }}</title>
	</head>
				<!-- Container -->
	<body>
		<div id="da-wrapper">
			<div id="da-header">
				<div id="da-header-top">
					<div class="da-container clearfix">
						<div id="da-logo-wrap">
							<div id="da-logo">
								<div id="da-logo-img">
									<a href="dashboard.html">
										<img src="/static/images/rosadelima.logo.png" alt="Dandelion Admin">
									</a>
								</div>
							</div>
						</div>
						<div id="da-header-toolbar" class="clearfix">
							<div id="da-user-profile-wrap">
								<div id="da-user-profile" data-toggle="dropdown" class="clearfix">
									<!--<div id="da-user-avatar">
										<img src="/static/images/pp.jpg" alt="">
									</div>-->
									<div id="da-user-info" class="font-open">
										<div class="font-open font-28">
											{{ usuario.dni }}
										</div>
										<span class="da-user-title font-open">{{ usuario.get_nombres }}</span>
									</div>
								</div>
								<ul class="dropdown-menu">
									<li><a href="dashboard.html">Salir</a></li>
									<!--<li class="divider"></li>
									<li><a href="#">Profile</a></li>
									<li><a href="#">Settings</a></li>
									<li><a href="#">Change Password</a></li>-->
								</ul>
							</div>
						</div>
										
					</div>
				</div>
				
				<!--<div id="da-header-bottom">
					<div class="da-container clearfix">
						<div id="da-breadcrumb">
							<ul>
								<li class="active"><a href="dashboard.html"><i class="icon-home"></i> Dashboard</a></li>
							</ul>
						</div>
					</div>
				</div>-->
			</div>
		
			<!-- Content -->
			<div id="da-content">
				
				<!-- Container -->
				<div class="da-container clearfix">
					
					<!-- Sidebar Separator do not remove -->
					<div id="da-sidebar-separator"></div>
					
					<!-- Sidebar -->
					<div id="da-sidebar">

						<!-- Navigation Toggle for < 480px -->
						<div id="da-sidebar-toggle"></div>
					
						<!-- Main Navigation -->
						<div id="da-main-nav" class="btn-container">
							<ul>
								<li>
									<a href="#">
										<!-- Icon Container -->
										<span class="da-nav-icon">
											<i class="icon-edit"></i>
										</span>
										Registros académicos
									</a>
									<ul>
										<li><a href="#">Mis Datos</a></li>
										<li><a href="#horario">Mi Horario</a></li>
										<li><a href="#asistencia">Mi Asistencia</a></li>
										<li><a href="#nota">Mis Notas</a></li>
									</ul>
								</li>
								<li class="active">
									<a href="#caja">
										<span class="da-nav-icon">
											<i class="icon-coins"></i>
										</span>
										Caja / Pagos
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div id="da-content-wrap" class="clearfix">
						{% block content %}
						{% endblock %}
					</div>
				</div>
			</div>
			<div id="da-footer">
				<div class="da-container clearfix">
					<p>Copyright 2013. Rosa de Lima - Todos los derechos reservados.
				</div>
			</div>
		</div>
		<script src="/static/js/libs/jquery-1.8.3.min.js"></script>
		<script src="/static/js/libs/bowser.min.js"></script>
		<script src="/static/js/libs/mustache.js"></script>
		{% block script %}
		{% endblock %}
	</body>
</html>
