{% extends 'base.html' %}
{% block content %}
	<div id="da-content-area">
		<div class="row-fluid">
			<div class="span12">
				<div class="da-panel">
					<div class="da-panel-header">
						<span class="da-panel-title">
							Intranet - Rosa de Lima
						</span>
					</div>
					<div id="rosadelima-viewport" class="da-panel-content">
						
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block script %}
<script src="/api/ares/rosadelima/index.js"></script>
<script src="/static/js/libs/underscore-min.js"></script>
<script src="/static/js/libs/backbone-min.js"></script>
<script src="/static/js/core/rosadelima.index.js"></script>
{% endblock %}