<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" media="screen">
		<link rel="stylesheet" href="/static/css/login.min.css" media="screen">
		<title>Rosa de Lima - Intranet</title>
	</head>
	<body>
		<div id="da-home-wrap">
			<div id="da-home-wrap-inner">
				<div id="da-home-inner">
					<div id="da-home-box">
						<div id="da-home-box-header">
							<img src="/static/images/rosadelima.logo.png" alt="Dandelion Admin">
						</div>
						<form class="da-form da-home-form" method="post" action="/login/">
							<input type="hidden" name="csrfmiddlewaretoken" class="field" value="{{ csrf_token }}"/>
							<div class="da-form-row">
								<div class=" da-home-form-big">
									<input type="text" name="username" id="da-login-username" placeholder="N° de DNI">
								</div>
								<div class=" da-home-form-big">
									<input type="password" name="password" id="da-login-password" placeholder="Contraseña">
								</div>
							</div>
							<div class="da-home-form-btn-big">
								<input type="submit" value="Login" id="da-login-submit" class="btn btn-danger btn-block">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script src="/static/js/libs/jquery-1.8.3.min.js"></script>
		<script src="/static/js/libs/jquery.placeholder.min.js"></script>
		<script src="/static/js/plugins/validate/jquery.validate.min.js"></script>
		<script src="/static/js/core/rosadelima.login.js"></script>
	</body>
</html>

